<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>
	<nav th:fragment="header" class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Al-Ansar</a>
			</div>
			<ul class="nav navbar-nav">
				<li><a data-toggle="pill" href="#menu1">Dashboard</a></li>
				<li><a data-toggle="pill" href="#menu2">Donors</a></li>
				<li><a data-toggle="pill" href="#menu2">Add Donor</a></li>
				<li><a data-toggle="pill" href="#menu2">About</a></li>
				
			</ul>
		</div>
	</nav>
</body>

</html>